In [16]:
import pandas as pd; pd.set_option('display.max_column', None)
import seaborn as sns
from matplotlib import pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/2020.csv')
df.head()

,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,Derrick Henry,TEN,RB,26.0,16,16,31,19,0,0,0,2027,17,378,114,0,314.0,0,3,2
1,Alvin Kamara,NOR,RB,25.0,15,10,107,83,0,0,0,932,16,187,756,5,295.0,0,1,0
2,Dalvin Cook,MIN,RB,25.0,14,14,54,44,0,0,0,1557,16,312,361,1,294.0,0,5,3
3,Davante Adams,GNB,WR,28.0,14,14,149,115,0,0,0,0,0,0,1374,18,243.0,0,1,1
4,Travis Kelce,KAN,TE,31.0,15,15,145,105,4,0,2,0,0,0,1416,11,208.0,0,1,1

In [17]:
df.head()

,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,Derrick Henry,TEN,RB,26.0,16,16,31,19,0,0,0,2027,17,378,114,0,314.0,0,3,2
1,Alvin Kamara,NOR,RB,25.0,15,10,107,83,0,0,0,932,16,187,756,5,295.0,0,1,0
2,Dalvin Cook,MIN,RB,25.0,14,14,54,44,0,0,0,1557,16,312,361,1,294.0,0,5,3
3,Davante Adams,GNB,WR,28.0,14,14,149,115,0,0,0,0,0,0,1374,18,243.0,0,1,1
4,Travis Kelce,KAN,TE,31.0,15,15,145,105,4,0,2,0,0,0,1416,11,208.0,0,1,1

In [18]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player         626 non-null    object
 1   Tm             626 non-null    object
 2   Pos            578 non-null    object
 3   Age            625 non-null    float64
 4   G              626 non-null    int64
 5   GS             626 non-null    int64
 6   Tgt            626 non-null    int64
 7   Rec            626 non-null    int64
 8   PassingYds     626 non-null    int64
 9   PassingTD      626 non-null    int64
 10  PassingAtt     626 non-null    int64
 11  RushingYds     626 non-null    int64
 12  RushingTD      626 non-null    int64
 13  RushingAtt     626 non-null    int64
 14  ReceivingYds   626 non-null    int64
 15  ReceivingTD    626 non-null    int64
 16  FantasyPoints  570 non-null    float64
 17  Int            626 non-null    int64
 18  Fumbles        626 non-null    int64
 19  FumblesLost    626 non-null    int64
dtypes: float64(2), int64(15), object(3)
memory usage: 97.9+ KB

In [19]:
pd.set_option('chained_assignment', None)

In [ ]:
fantasy_scoring_weights = {
    'RushingYds' : 0.1,
    'ReceivingYds' : 6,
    'ReceivingTd' : 6,
    'RushingTd' : 6,
    'FumblesLost' : -2,
    'Rec' : 1,
}

rb_df = df.loc(df['Pos'] == 'RB')

def get_fantasy_points(row):
    g = row['G']
    fantasy_points = sum(
        [row[column] * weight for column, weight in fantasy_socring_weights.items()]
    )
    return fantasy_points / g
rb_df['FantasyPoints/G'] = rb_df.apply(get_fantasy_points, axis)